<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

 <section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Reset password</div>
						<div class="card-body">
							<form action="/reset_password" method="post">
							 <input type="hidden" name="token" th:value="${token}" />
								<div class="mb-3">
									 <input type="password" name="password" id="password" placeholder="Enter your new password"
										class="form-control" required="required" autofocus="autofocus"  >
								</div>
								
								<div class="mb-3">
									 <input type="password" name="confirmpassword"  placeholder="Enter your new password"
										class="form-control" required="required" autofocus="autofocus" 
										oninput="checkPasswordMatch(this);"
										 >
								</div>

								<button class="btn btn-primary col-md-12" type="submit">Chage Password</button>
							
							</form>
							<script type="text/javascript">
							function checkPasswordMatch(fieldConfirmPassword) {
							    if (fieldConfirmPassword.value != $("#password").val()) {
							        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
							    } else {
							        fieldConfirmPassword.setCustomValidity("");
							    }
							}
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>